<h2>Add Admission Rule</h2>
<div class="large-12 columns">
    {{!-----------------------SELECT PROVINCE-------------------------}}
    <select onchange={{action "setExp" value="target.value"}}>
            <option value=100>Select </option>
          {{#each model.testExpression as |one|}}
                <option value={{one.id}}>{{one.booleanExp}} {{one.logicalLink}}</option>
          {{/each}}
    </select>
    </div>
    
<form id="add-student-form">
    <div class="row">
        <div class="large-12 columns">
            <label>Admission Rule
                Description
                {{input value=description id="description" type="text"}}
            </label>
        </div>
    </div>
</form>
<br>
<a href="#" class="button radius" {{action 'addAdmissionRule' name}}>Save</a>

<a href="#" class="button radius" >Cancel</a>