<form id="add-student-form">
    <h2>Add new Comment Code</h2>
    <div class="row">
        <div class="large-12 columns">
            <label>Comment Code
                {{input value=code     id="code"   type="text"}}
                Action
                {{input value=progAction   id="progAction" type="text"}}
                Description
                {{input value=description     id="description"   type="text"}}
            </label>
        </div>
    </div>
</form>
<br>
<a href="#" class="button radius" {{action 'addCommentCode' name}}>Save</a>

{{!--<a href="#" class="button radius" {{action 'addGender'}}>Testing Add Gender</a>--}}
<a href="#" class="button radius" >Cancel</a>