<form id="add-student-form">
    <h2>Add new Department</h2>
    <div class="row">
        <div class="large-12 columns">
            <label>Department
              {{input value=name  id="name" type="text"}}
            </label>
            <label>Faculty
             <select onchange={{action "setFaculty" value="target.value"}}>
                <option value=100>Select Faculty</option>
                        
                {{#each model.faculty as |oneFaculty|}}
                <option value={{oneFaculty.id}}>{{oneFaculty.name}}</option>
                {{/each}}
             </select>
            </label>
        </div>
    </div>
</form>
<br>
<a href="#" class="button radius" {{action 'addFaculty'}}>Save</a>
<a href="#" class="button radius" >Cancel</a>
<input href="#" class="button radius" type='file' accept='file_extension|.csv' id='uploadButton' onchange={{action 'uploadDepartments' value="target"}}>

