<div class="row">
    <div class="large-12 columns">
    <select onchange={{action "setStudent" value="target.value"}}>
                <option value=100>Select Student</option>
              {{#each model.student as |oneStudent|}}
                    <option value={{oneStudent.id}}>{{oneStudent.firstName}} {{oneStudent.lastName}}</option>
              {{/each}}
        </select>
    </div>
</div><br>

<div class="circle">
      {{#each model.distributionResult as |oneResult|}}
        {{#if (eq oneResult.student.id student)}}
          <div class="row model-item">
            <div class="large-10 columns">
                <p>{{oneResult.student.firstName}} {{oneResult.student.lastName}}</p>
                <p> Comment Code: {{oneResult.comment.code}}</p>
                <p> Description: {{oneResult.comment.description}}</p>
                <p> Date: {{oneResult.date}}</p>
              </div>
              <div class="large-2 columns">
                {{purple.delete-distribution-result ID = oneResult.id}}
              </div>
            </div>
          {{/if}}
      {{/each}}
</div>