
<br>
<h4>{{thisStudent.firstName}} {{thisStudent.lastName}}'s ITRs</h4>

{{#each thisStudent.itrs as |oneItr|}}
    <div class="row">
        
        <div class="large-10 columns">
            
            Choice {{oneItr.order}} - {{oneItr.academicprogramcode.name}}
            <br>
            Eligible: 
            {{#if (eq oneItr.eligibility '1')}}
                Yes 
            {{else}}
                No
            {{/if}}
        
        </div>
        
        {{#if (eq currentITRedit oneItr.id)}}
            <a href="#" class="button tiny" {{action 'deleteITR' oneItr}}>Delete</a>
        {{/if}}
           
        <div class="large-2 columns">
            {{#if (not-eq currentITRedit oneItr.id)}}
                <a href="#" class="button tiny" {{action 'setEdit' oneItr.id}}>Edit</a>
            {{/if}}
        </div>
        
        {{#if (eq currentITRedit oneItr.id)}}
            
            <form id="add-student-form">
                <p>
                    <select onchange={{action "setProgram" value="target.value"}}>
                        {{#each programModel as |oneProgram|}}
                            {{#if (eq oneProgram.id oneItr.academicprogramcode.id)}}
                                <option selected value={{oneProgram.id}}>{{oneProgram.name}}</option>
                            {{else}}
                                <option value={{oneProgram.id}}>{{oneProgram.name}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </p>
                
                <p>
                    <select onchange={{action "setOrder" value="target.value"}}>
                        {{#each choices as |choice|}}
                            {{#if (eq choice order)}}
                                <option selected value={{choice}}>{{choice}}</option>
                            {{else}}
                                <option value={{choice}}>{{choice}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </p>
                
                <p>
                    <select onchange={{action "setEligibility" value="target.value"}}>
                        {{#if (eq oneItr.eligibility '1')}}
                            <option selected value = 1>Elligible</option>
                            <option value = 0>Not Elligible</option>
                        {{else}}
                            <option  value = 1>Elligible</option>
                            <option selected value = 0>Not Elligible</option>
                        {{/if}}
                    </select>
                </p>
                    
            </form>
            <a href="#" class="button radius" {{action 'editItr' oneItr.id}}>Save</a>
            <a href="#" class="button radius" {{action 'setEdit'}}>Cancel</a>
            
        {{/if}}
        
    </div>
<br>
{{/each}}

{{#if (eq thisStudent.itrs.length 0)}}
    <p>{{thisStudent.firstName}} {{thisStudent.lastName}} does not have a completed intent to register.</p>
    
{{/if}}


{{#if (eq isAdding false)}}
    <a href="#" class="button radius" {{action 'addToggle'}}>Add ITR</a>
{{/if}}

{{#if (eq isAdding true)}}
<h5>Add program choice</h5>

    <form id="add-student-form">
    <p>
        <select onchange={{action "setProgram" value="target.value"}}>
            <option value=100>Select Program</option>
                    
            {{#each programModel as |oneProgram|}}
                <option value={{oneProgram.id}}>{{oneProgram.name}}</option>
            {{/each}}
        </select>
        </p>
        
        
        
        <p>
        
        <select onchange={{action "setOrder" value="target.value"}}>
            <option value=100>Select Order Preference</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    
        </p>
        <p>
        
        
        <select onchange={{action "setEligibility" value="target.value"}}>
            <option value=100>Select Elligibility</option>
            <option value = 1>Elligible</option>
            <option value = 0>Not Elligible</option>
        </select>
        </p>

    </form>
    <a href="#" class="button radius" {{action 'addItr'}}>Save</a>
    <a href="#" class="button radius" {{action 'cancelAdd'}}>Cancel</a>

{{/if}}