{{#if MSR01IsPermitted }}
{{#if isEditing }}
    <h2>Add new system role</h2>
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>Role name
                  {{input value=name type="text" }}
                </label>
            </div>
        </div>
    </form>
    <br>
    <a href="#" class="button radius" {{action 'save'}}>Save</a>
    <a href="#" class="button radius" {{action 'cancel'}}>Cancel</a>
{{else}}
  {{#each roleCodeModel as |oneCode|}}
    {{#manage-permission code=oneCode.id}}
        <li>  {{oneCode.name}}  </li>
    {{/manage-permission}}
  {{/each}}
  <div class="row">
      <div class="large-12 columns">
          <br>
          <a href="#" class="button round" {{action 'addNewRole'}}>Add New Role</a>
      </div>
  </div>
{{/if}}
{{else}}

<div class="row">
    <div class="large-8 large-centered columns alert-box info radius">
        <br>
        <h3>This feature (MSR01) is not allowed for your account. </h3>
        <h3>Please contact the system administrator for more information.</h3>

    </div>
</div>

{{/if}}