<h2>Departments</h2>
<ul class="circle">
    <ul>
      {{#each model.department as |oneDepartment|}}
          
          <div class="row model-item">
            <div class="large-12 columns">
            
              <div class='row'>
                <div class='editItem' {{action 'selectThis' oneDepartment.id}}>{{oneDepartment.name}}</div><a href="#" class="button tiny edit-button" {{action 'selectThis'  oneDepartment.id}}>Edit</a>
              </div>
              {{#if (eq oneDepartment.id currentID)}}
              
              
              
              <label>Department
                {{input value=oneDepartment.name type="text"}}
              </label>
             
              <label>Faculty
                <select onchange={{action 'setFaculty' value="target.value"}}>
                  
                  
                   {{#each model.faculty as |oneFaculty|}}
                     {{#if (eq oneFaculty.id faculty)}}
                       <option selected value={{oneFaculty.id}}>{{oneFaculty.name}}</option>
                      {{/if}}
                      {{#if (not-eq oneFaculty.id faculty)}}
                        <option value={{oneFaculty.id}}>{{oneFaculty.name}}</option>
                      {{/if}}
                  {{/each}}
                </select>
              </label>
              
              <br>
              
              <a href="#" class="button tiny" {{action 'updateDepartment' oneDepartment.id oneDepartment.name}}>Save</a>
              <a href="#" class="button tiny" {{action 'cancel'}}>Cancel</a>
              <a href="#" class="button tiny" {{action 'deleteDepartment' oneDepartment}}>Delete</a>

            {{/if}}
            </div>
          </div>
          
          
      {{/each}}
    </ul>
</ul>

{{purple.add-department model = model}}
<br>
{{purple.add-faculty}}