<h2>Intent To Register</h2>

{{!--{{purple.display-itr model = model}}--}}
{{!--{{purple.add-itr model = model}}--}}


{{!--<div class="row">--}}
{{!--    <div class="large-12 columns">--}}
{{!--    <select onchange={{action "setStudent" value="target.value"}}>--}}
{{!--                <option value=100>Select Student</option>--}}
{{!--              {{#each model.student as |oneStudent|}}--}}
{{!--                    <option value={{oneStudent.id}}>{{oneStudent.firstName}} {{oneStudent.lastName}}</option>--}}
{{!--              {{/each}}--}}
{{!--        </select>--}}
{{!--    </div>--}}
{{!--</div><br>--}}


<h3>Search for a student</h3>
<a href="#" class="button radius" {{action 'displayAll'}}>Display All</a>
<a href="#" class="button radius" {{action 'searchByNum'}}>Search by Student Number</a>
<a href="#" class="button radius" {{action 'searchByFirstName'}}>Search by Name</a>

{{#if (eq searchByNum true)}}
  <div class='row'>
    <label>Enter Student Number
      {{input value=num type="text"}}
    </label>
    <a href="#" class="button tiny" {{action 'searchNum' num}}>Search</a>
    <a href="#" class="button tiny" {{action 'cancelSearch'}}>Cancel</a>
  </div>
{{/if}}

{{#if (eq searchByFirstName true)}}
  <div class='row'>
    <label>Enter Name
      {{input value=name type="text"}}
    </label>
    <a href="#" class="button tiny" {{action 'searchFirstName' name}}>Search</a>
    <a href="#" class="button tiny" {{action 'cancelSearchFirstName'}}>Cancel</a>
  </div>
{{/if}}

  
{{#if searching}}
  <div class="circle">
    <ul>
      {{#each model.student as |oneStudent|}}
          {{#if (eq num oneStudent.studentNum)}}
           <div class="row model-item">
            <div class="large-10 columns">
              <div class='row'>
                <div class='editItem' {{action 'setStudent' oneStudent.id}}> {{oneStudent.firstName}} {{oneStudent.lastName}}   </div>
              </div>

              {{#if (eq oneStudent.id student)}}
            
                {{purple.manage-itrs thisStudent = oneStudent model = model}}
          
              {{/if}}
            </div>
            <div class="large-2 columns">
              <a href="#" class="button tiny edit-button" {{action 'setStudent' oneStudent.id}}>View</a>
            </div>
          </div>
          
          {{/if}}
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if searchingFN}}
  <div class="circle">
    <ul>
      {{#each model.student as |oneStudent|}}
          
          {{!--serach first only--}}
          {{#if (eq count '0')}}
            {{#if (eq fname oneStudent.firstName)}}
                
                
                
              <div class="row model-item">
                <div class="large-10 columns">
                  <div class='row'>
                    <div class='editItem' {{action 'setStudent' oneStudent.id}}> {{oneStudent.firstName}} {{oneStudent.lastName}}   </div>
                  
                  </div>
                  
                  {{#if (eq oneStudent.id student)}}
            
                    {{purple.manage-itrs thisStudent = oneStudent model = model}}
          
                  {{/if}}
                </div>
                <div class="large-2 columns">
                  <a href="#" class="button tiny edit-button" {{action 'setStudent' oneStudent.id}}>View</a>
                </div>
              </div>
      
      
            
            {{/if}}
          {{/if}}
          
          {{!--serach first and last--}}
          {{#if (eq count '1')}}
            {{#if (and (eq fname oneStudent.firstName) (eq lname oneStudent.lastName))}}
              <div class="row model-item">
                <div class="large-10 columns">
                  <div class='row'>
                    <div class='editItem' {{action 'setStudent' oneStudent.id}}> {{oneStudent.firstName}} {{oneStudent.lastName}}   </div>
                  </div>
                  
                  {{#if (eq oneStudent.id student)}}
              
                    {{purple.manage-itrs thisStudent = oneStudent model = model}}
          
                  {{/if}}
          
                </div>
                <div class="large-2 columns">
                  <a href="#" class="button tiny edit-button" {{action 'setStudent' oneStudent.id}}>View</a>
                </div>
              </div>
          
            {{/if}}
          {{/if}}
          
      
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if (eq displayAll true) }}
<div class="circle">
    {{#each model.student as |oneStudent|}}
      <div class="row model-item">
        
        <div class="large-10 columns">
          <div class='row'>
            <div class='editItem' {{action 'setStudent' oneStudent.id}}> {{oneStudent.firstName}} {{oneStudent.lastName}}   </div>
          </div>
          
          {{#if (eq oneStudent.id student)}}
            
            {{purple.manage-itrs thisStudent = oneStudent model = model}}
          
          {{/if}}
          
          
        </div>
        <div class="large-2 columns">
          <a href="#" class="button tiny edit-button" {{action 'setStudent' oneStudent.id}}>View</a>
        </div>
      </div>
    {{/each}}
</div>
{{/if}}


{{!--{{#each model.student as |oneStudent|}}--}}
    
{{!--    {{#if (eq oneStudent.id student)}}--}}
{{!--        <h3>{{oneStudent.firstName}}</h3>--}}
            
{{!--            {{#each model.itr as |oneItr|}}--}}
                
{{!--                <div class="large-6 columns">--}}
        
{{!--                    {{#if (eq oneItr.student.id oneStudent.id)}}--}}
{{!--                        {{oneItr.program.programName}}, Preference order: {{oneItr.order}}, --}}
{{!--                        eligibility: --}}
{{!--                        {{#if (eq oneItr.eligibility '1')}}--}}
{{!--                            Y --}}
{{!--                        {{else}}--}}
{{!--                            N--}}
{{!--                        {{/if}}--}}
{{!--                    {{/if}}--}}
                    
{{!--                </div>--}}
           
{{!--                    {{#if (eq oneItr.student.id oneStudent.id)}}--}}
{{!--                        <div class="large-6 columns">--}}
{{!--                            {{purple.delete-itr ID = oneItr.id}} --}}
{{!--                        </div>--}}
{{!--                    {{/if}}--}}
                    
{{!--            {{/each}}--}}
{{!--    {{/if}}--}}
        
{{!--{{/each}}--}}
