<div class="large-9 columns">
  <h1>Distribution</h1>
  <a href="#" class="button tiny" {{action 'distributeAll'}}>Distribute ALL</a>
  <a href="#" class="button tiny" {{action 'viewResults'}}>View Distribution Results</a>
    
  <div class="circle">
    {{#each sortedStudents as |oneStudent|}}
    {{!--{{#each model.student as |oneStudent|}}--}}
      <div class="row model-item">
        <div class="large-12 columns">
          <div class='editItem' {{action 'selectThis' oneStudent.id}}>{{oneStudent.firstName}} {{oneStudent.lastName}}</div>
          <a href="#" class="button tiny edit-button" {{action 'distribute' oneStudent.id}}>Distribute</a>
          
          {{#if (eq oneStudent.id currentID)}}
          <br>
            <h4>Grades</h4>
            {{#if (eq oneStudent.marks.length 0)}}
              <p>{{oneStudent.firstName}} {{oneStudent.lastName}} does not have any grades.</p>
            {{/if}}
            {{#each oneStudent.marks as |oneGrade|}}
              <div class="large-12 columns">
                
                  <p>{{oneGrade.mark}} : {{oneGrade.course.code}} {{oneGrade.course.number}} - {{oneGrade.course.name}}</p>
                
            </div>
            {{/each}}
            <br>
            <h4>Intent to Registers</h4>
            {{#if (eq oneStudent.itrs.length 0)}}
              <p>{{oneStudent.firstName}} {{oneStudent.lastName}} does not have any ITRs.</p>
            {{/if}}
            {{#each oneStudent.itrs as |itr|}}
              <div class="large-12 columns">
                  <p>Order: {{itr.order}}<br>
                  {{itr.academicprogramcode.name}}<br>
                  Eligibility: {{itr.eligibility}}</p>
              </div>
            {{/each}}
            
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div class="large-3 columns">
    <div class="side-nav">
        <div class="side-nav-title"><h4>Distribution</h4></div>
        <p>{{#link-to 'purple.itrs'}}Student ITRs{{/link-to}}</p>
          <p>{{#link-to 'distribute'}}Distribute{{/link-to}}</p>
            <p>{{#link-to 'purple.distribution-results'}}Distribution Results{{/link-to}}</p>
            <p>{{#link-to 'purple.admission-rules'}}Manage Admission Rules{{/link-to}}</p>
            <p>{{#link-to 'purple.comment-codes'}}Distribution Comment Codes{{/link-to}}</p>
    </div>
</div>

  {{#if showPopup}}
  <div {{action 'closePopup'}} class="modal-fog">
    <div {{action 'dontClosePopup'}} class="modal-frame">
      <div class="modal-title">
        Here are the Results
      </div>
      
      <div class="modal-body">
        {{display-distribution-results model = model results = resultsArray}}
      </div>
    </div>
  </div>
{{/if}}
