<form id="add-student-form">
    <h2>Add new City</h2>
    <div class="row">
        <div class="large-12 columns">
            <label>City Name
              {{input value=city  id="city" type="text"}}
            </label>
            
            <label>Within which country ?
             <select onchange={{action "setCountry" value="target.value"}}>
                <option value=100>Select Country</option>
                        
                {{#each model.countries as |oneCountry|}}
                <option value={{oneCountry.id}}>{{oneCountry.name}}</option>
                {{/each}}
             </select>
            </label>
            
            <label>Within which Province ?
             <select onchange={{action "setProvince" value="target.value"}}>
                <option value=100>Select Province</option>
                        
                {{#each model.provinces as |oneProvince|}}
                    {{#if (eq oneProvince.country.id country)}}
                    <option value={{oneProvince.id}}>{{oneProvince.name}}</option>
                    {{/if}}
                {{/each}}
             </select>
            </label>
        </div>
    </div>
</form>
<br>
<a href="#" class="button radius" {{action 'addCity'}}>Save</a>

{{!--<a href="#" class="button radius" {{action 'addGender'}}>Testing Add Gender</a>--}}
<a href="#" class="button radius" >Cancel</a>

