<h2>{{selectedStudent.firstName}} {{selectedStudent.lastName}}</h2>



{{#if isEditing}}
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>First Name
                  {{input value=selectedStudent.firstName type="text" }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>last Name
                  {{input value=selectedStudent.lastName type="text" }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Student Number
                  {{input value=selectedStudent.studentNum  id="studentNum" type="text"}}
                </label>
            </div>
        </div>
                 <div class="row">
            <div class="large-12 columns">
            {{!--------------------------SELECT RES---------------------------}}
                <select onchange={{action "setRes" value="target.value"}}>
                    <option value=99>Select Residency</option>
                        {{#each resModel as |oneRes|}}
                            <option value={{oneRes.id}}>{{oneRes.residency}}</option>
                        {{/each}}
                </select>
            </div>
        </div><br>
        <div class="row">
            <div class="large-12 columns">
            {{!------------------------SELECT GENDER--------------------------}}
            <select onchange={{action "setSex" value="target.value"}}>
                        <option value=100>Select Gender</option>
                      {{#each gendersModel as |oneGender|}}
                            <option value={{oneGender.id}}>{{oneGender.sex}}</option>
                      {{/each}}
                </select>
            </div>
        </div><br>
        <div class="row">
            <div class="large-12 columns">
            {{!--------------------------SELECT LOAD--------------------------}}       
            <select onchange={{action "setLoad" value="target.value"}}>
                        <option value=100>Select Load</option>
                      {{#each loadModel as |oneload|}}
                        <option value={{oneload.id}}>{{oneload.load}}</option>
                      {{/each}}
                </select>
            </div>
        </div><br>
        
        <div class="row">
            <div class="large-12 columns">
            {{!------------------------SELECT COUNTRY-------------------------}}
            <select onchange={{action "setCountry" value="target.value"}}>
                        <option value=100>Select Country</option>
                      {{#each countryModel as |oneCountry|}}
                        <option value={{oneCountry.id}}>{{oneCountry.name}}</option>
                      {{/each}}
                </select>
            </div>
        </div><br>
        <div class="row">
            <div class="large-12 columns">
            {{!-----------------------SELECT PROVINCE-------------------------}}
            <select onchange={{action "setProvince" value="target.value"}}>
                        <option value=100>Select Province</option>
                      {{#each provinceModel as |oneProvince|}}
                            {{#if (eq oneProvince.country.id country)}}
                            <option value={{oneProvince.id}}>{{oneProvince.name}}</option>
                            {{/if}}
                      {{/each}}
                </select>
            </div>
        </div><br>
        <div class="row">
            <div class="large-12 columns">
            {{!--------------------------SELECT CITY--------------------------}}
            <select onchange={{action "setCity" value="target.value"}}>
                        <option value=100>Select City</option>
                      {{#each cityModel as |oneCity|}}
                            {{#if (eq oneCity.province.id province)}}
                            <option value={{oneCity.id}}>{{oneCity.name}}</option>
                            {{/if}}
                      {{/each}}
                </select>
            </div>
        </div><br>
        <div class="row">
            <div class="large-12 columns">
                <label>Date of Birth</label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <table id='bdtable'>
                    <tr><th>Day</th><th>Month</th><th>Year</th></tr>
                    <tr>
                        <td>
                            <select onchange={{action "selectDay" value="target.value"}}>
                                {{#each days as |day|}}
                                    {{#if (eq currentDay day)}}
                                        <option selected='selected' value={{day}}>{{day}}</option>
                                    {{else}}
                                        <option value={{day}}>{{day}}</option>
                                    {{/if}}
                                {{/each}}
                            </select>
                        </td>
                        
                        <td>
                            <select onchange={{action "selectMonth" value="target.value"}}>
                                {{#each months as |month|}}
                                    {{#if (eq currentMonth month)}}
                                        <option selected='selected' value={{month}}>{{month}}</option>
                                    {{else}}
                                        <option value={{month}}>{{month}}</option>
                                    {{/if}}
                                {{/each}}
                            </select>
                        </td>
                        
                        <td>
                            <select onchange={{action "selectYear" value="target.value"}}>
                                {{#each years as |year|}}
                                    {{#if (eq currentYear year)}}
                                        <option selected='selected' value={{year}}>{{year}}</option>
                                    {{else}}
                                        <option value={{year}}>{{year}}</option>
                                    {{/if}}
                                {{/each}}
                            </select>   
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
    <br>
    <a href="#" class="button radius" {{action 'save' selectedStudent.id day month year}}>Save</a>
    <a href="#" class="button radius" {{action 'edit'}}>Cancel</a>
{{else}}
    <ul class="square">
        <ul>
            <p>{{selectedStudent.firstName}} {{selectedStudent.lastName}} - {{selectedStudent.studentNum}}<br>
            {{#if selectedStudent.gender}}{{selectedStudent.gender.sex}}<br>{{/if}}
            Date of Birth: {{selectedStudent.DOB}}<br>
            {{#if selectedStudent.city}}{{selectedStudent.city.name}}, {{selectedStudent.city.province.name}}, {{selectedStudent.city.province.country.name}}<br>{{/if}}
            {{#if selectedStudent.residency}}Residency: {{selectedStudent.residency.residency}}<br>{{/if}}
            {{#if selectedStudent.load}}Academic Load: {{selectedStudent.load.load}}{{/if}}</p>
        </ul>
    </ul>
    <a href="#" class="button radius" {{action 'cancel'}}>Back</a>
    {{#if MST01IsPermitted }}
        <a href="#" class="button radius" {{action 'edit' selectedStudent.DOB}}>Edit</a>
    {{else}}
        <p>You don't have the permission to edit Student Info</p>
    {{/if}}
    
    <br>
    <br>
    {{personal-page thisStudent = selectedStudent MST01IsPermitted = MST01IsPermitted}}
    
    
{{/if}}
